<link href="/stylesheets/footer.css" rel="stylesheet" type="text/css">

<footer>
  <div class="footer">
    <p>@2021 Clean Bytes</p>
    <img height="60" src="/images/tc-logo.png" />
  </div>
</footer>
