<link href="/stylesheets/navbar.css" rel="stylesheet" type="text/css">

<div class="navbar">
  <a href="/">
    <img class="title" src="/images/internship-qualifier-logo.png" />
  </a>
  <ul class="navbar">
    <div class="link-container">
        <a href ="/input" class="navbar">
          <li class="navbar navbar-left">
            <h1>
              Input Record
            </h1>
          </li>
        </a>
        <a href ="/qualified" class="navbar">
          <li class="navbar">
            <h1>
              List Qualified
            </h1>
          </li>
        </a>
    </div>
  </ul>
</div>
