<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <link rel='stylesheet' href='/stylesheets/404.css' />
  <body>
    <%- include('partials/navbar') %>
    <div class="main-container">
      <h1>404 - Not Found</h1>
      <h2>Woah, where you goin', partner?  That doesn't exist.</h2>
      <img src="/images/404.gif" />
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
