<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <body>
    <div class="main-container">
      <%- include('partials/navbar') %>
      <h1 class="title">Welcome to the Internship Qualifier</h1>
      <p>This system has been designed to streamline the selection process for internship administrators.  Student records can be input into the system using the "Input Record" tab in the navigation bar.  Upon submitting the record, the system will store the student's record and output the partial GPA based on the grades that were recorded.</p>
      <p>After student records have been input into the system, an administrator can click on the "List Qualified" tab in the navigation bar to get an output of all the students who meet the qualifications of the internship.  Qualification criteria is currently set to approve students who have a partial GPA of 2.5 or greater.  Partial GPA is based off the grades received from the following courses - CSC141, CSC142, CSC240, CSC241.</p>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
