<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>
    <div class="main-container">
      <h1 class="title">Input User Info Here</h1>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
