body {
  margin: 0px 0px;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1.title {
  margin-top: 60px;
  margin-bottom: 30px;
}

html {
  height: 100%;
  color: #666666;
}

.main-container {
  font-size: 20px;
  padding: 0px 100px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  min-height: 1200px;
}
