input.submit {
  border-radius: 12px;
  border-width: 3px;
  color: #666666;
  height: 50px;
  font-size: 24px;
  margin-top: 10px;
  padding: 5px 30px;
  width: 220px;
}

div.course {
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
}

div.course.error {
  margin-bottom: 5px;
}

div.course label {
  margin-right: 30px;
}

div.course select {
  border: 1;
  color: #666666;
  font-size: 20px;
  height: 40px;
}

div.input-success {
  background-color: #d3f8d3;
  border: 2px solid green;
  border-radius: 15px;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: 60px;
  padding: 5px 10px;
  min-width: 600px;
}

div.input-success p {
  margin: 0;
}

div.name {
  display: flex;
  height: 40px;
  justify-content: start;
  margin-bottom: 30px;
}

div.name.error {
  margin-bottom: 5px;
}

div.name input {
  color: #666666;
  font-size: 20px;
  width: 400px;
}

label {
  display: inline-block;
  margin-bottom: auto;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: auto;
}

form.student {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

p.error-message {
  color: red;
  font-size: 14px;
  margin-top: 0px;
}
