input.submit {
  border-radius: 12px;
  border-width: 3px;
  color: #666666;
  height: 50px;
  font-size: 24px;
  margin-top: 10px;
  padding: 5px 30px;
  width: 220px;
}

div.course {
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
}

div.course label {
  margin-right: 30px;
}

div.course select {
  border: 1;
  color: #666666;
  font-size: 20px;
  height: 40px;
}

div.name {
  display: flex;
  height: 40px;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

div.name input {
  color: #666666;
  font-size: 20px;
  width: 400px;
}

label {
  display: inline-block;
  margin-bottom: auto;
  margin-top: auto;
}

form.student {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}
