div.main-container p {
  font-size: 24px;
  margin-bottom: 40px;
}

table.students {
  border: 5px solid #d3d3d3;
  border-collapse: collapse;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  min-width: 80%;
}

td.students {
  border: 1.5px solid #d3d3d3;
  padding: 12px 0px;
}

td.students.small {
  font-size: 14px;
}

td.students.xsmall {
  font-size: 12px;
}

th.students {
  background-color: #d3d3d3;
  font-size: 24px;
  padding: 10px 0px;
}

.partial-gpa {
  width: 20%;
}
